[Unit]
Description=DAPHNIe metrics accounting and reconcilement
After=apnscp.service

[Service]
EnvironmentFile=-/etc/sysconfig/apnscp
ExecStart=/usr/bin/apnscp_php {{ apnscp_root }}/bin/scripts/metricscron.php

[Install]
WantedBy=multi-user.target
