.domain-heading, .subdomain-heading {
	font-size: 1.25em;
}

.domain-heading li {
	margin: 0.5em 0;
}

ul.subdomains {
	font-size: 0.85em;
}

.subdomains, .domain-heading, .subdomain-heading {
	list-style-type: none;
	margin-left: 0;
}

.subdomains li {
	margin-left: 1.25em;
}

.subdomains li:last-child {
	margin-bottom: 0;
}

.subdomains {
	margin: 0;
	display: block;
}

h4.subdomain-heading {
	color: #666;
	font-size: 1em;
	margin-bottom: 0;
}

.ui-app h3 {
	font-weight: 700;
}

h3.subdomains {
	margin-top: 2em;
}

#htaccess {
	margin: 1em 0 0 0;
	list-style-type: none;
}

#htaccess {
	counter-reset: htaccess-counter;
}

#htaccess.empty {
	counter-reset: htaccess-counter -1;
}

#htaccess > li:before {
	content: counter(htaccess-counter) '.';
	text-align: right;
	width: 2em;
	counter-increment: htaccess-counter;
	display: inline-block;
	background: #efefef;
	color: #ccc;
	padding: 0 3px;
}

#htaccess ol.block {
	list-style-type: none;
}

#htaccess .hidden {
	visibility: hidden;
	height: 0;
}

#htaccess ol.block {
	margin-left: 6em;
	padding-left: 1em;
	border-left: 3px solid #ccc;
}

#htaccess li:before:not(.hidden) {
	content: 'Line ';
	display: inline-block;
}

#htaccess li .ui-action a {
	display: block;
}

#htaccess li.comment {
	color: #999;
	font-style: italic;
}

#add-directive {
	margin: 1em 0;
	background-color: #F9F9F9;
	padding: 1em;
	border: 1px solid #ccc;
}

#add-directive #directive {
	width: 220px;
}

#add-directive #value {
	width: 250px;
}

#add-directive label:after {
	content: ':';
	display: inline;
}

#add-directive label {
	margin-left: 1em;
}

#add-directive label:first-of-type {
	margin-left: 0;
}

#help:before {
	content: 'Description:\0A0';
	display: inline-block;
	font-weight: bold;
	color: #666;

}

#help {
	margin-top: 0.5em;
}

#add {
	margin-left: 1em;
}

#error-message {
	color: red;

}

#htaccess .editable {
	width: 400px;
	margin-left: 44px;
}

/** personalities, ripped from apis main page */
.languages {
	list-style-type: none;
	display: inline-block;
	margin: 1em auto;
	max-width: 1300px;
}

.languages li {
	display: inline-block;
	height: 48px;
	padding-top: 10px;
	margin: 0 auto 0.25em auto;
	width: 19%;
	position: relative;
	overflow-y: hidden;
}

.languages li span {
	color: #fff;
	display: inline-block;
	left: 0;
	font-size: 0.85em;
	line-height: 1.25em;
	padding: 2px;
	cursor: default;
}

.languages li:before {
	background: url(/images/apps/personalities/personalities.png) no-repeat center center;
	display: inline-block;
	width: 160px;
	height: 100%;
	content: '';
}

.languages .card {
	position: absolute;
	height: 100%;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.85);
	width: 95%;
	top: 58px;
	display: block;
	border-radius: 2px;
}

.languages .card > a:before, .languages .card > a.seeit:before {
	content: 'See it';
}

.languages .card > a:before {
	bottom: 2px;
	font-size: 0.8em;
	padding: 0 2px;
}

.languages .card > a:before {
	display: block;
	color: #fff;
	position: relative;
	font-weight: normal;
	float: left;
}

.languages .card > a:nth-of-type(2):before, .languages .card > a.useit:before {
	float: right;
	content: 'Use it';
}

.languages .nodejs:before {
	background-position: 0 0;
}

.languages .ghost:before {
	background-position: 0 -48px;
}

.languages .django:before {
	background-position: 0 -96px;
}

.languages .redis:before {
	background-position: 0 -144px;
}

.languages .ruby:before {
	background-position: 0 -192px;
}

.languages .meteor:before {
	background-position: 0 -240px;
}

.languages .mongodb:before {
	background-position: 0 -288px;
}

.languages .php:before {
	background-position: 0 -336px;
}

.languages .postgresql:before {
	background-position: 0 -384px;
}

.languages .mysql:before {
	background-position: 0 -432px;
}

.languages .wordpress:before {
	background-position: 0 -480px;
}

.languages .express:before {
	background-position: 0 -528px;
}

.languages .memcached:before {
	background-position: 0 -576px;
}

.languages .flask:before {
	background-position: 0 -624px;
}

.languages .pyramid:before {
	background-position: 0 -672px;
}

.languages .pylons:before {
	background-position: 0 -720px;
}

.languages .drupal:before {
	background-position: 0 -768px;
}

.languages .zendframework:before {
	background-position: 0 -816px;
}

.languages .rack:before {
	background-position: 0 -864px;
}

.languages .python:before {
	background-position: 0 -960px;
}

.languages .rails:before {
	background-position: 0 -912px;
}