r! /etc/httpd/conf/building - - - -
R! {{ apnscp_account_root }}/.orphans - - - -
{% if tmpfiles_purge_root_mail %}
e /root/Mail/{cur,new} - - - 60d
{% endif %}
e {{ apnscp_account_root }}/site*/fst/{var/tmp,tmp} 3777 root root 7d
X {{ apnscp_account_root }}/site*/fst/tmp/sessions 3777 root root 2d
e {{ apnscp_account_root }}/site*/fst/home/*/Mail/.Spam/{new,cur} - - - 30d
e {{ apnscp_account_root }}/site*/fst/home/*/.wp-cli/cache - - - 7d
