#configurationTarget {
	height: 50vh;
	width: auto;
	min-height: 250px;
	overflow: hidden;
}

#configurationTarget * {
	width: 100%;
	height: 50vh;
}

#ui-app table > tbody > tr > th {
	max-width: 125px;
	min-width: 50px;
	text-align: right;
}