#!/bin/sh

cd {{ git_target | quote}} && git fetch origin master && git reset --hard origin/master && cd -

# Clunky, but necessary to preserve "pyenv: cannot rehash: $SHIM_PATH isn't writable"
# without running a duplicate repo
sed -i -e 's!echo "pyenv: cannot rehash: \$SHIM_PATH isn'\''t writable"!!g' {{ git_target | quote}}/libexec/pyenv-rehash
