#webdav-app tr td {
	vertical-align: top;

}

#dav-list table td.provider {
	text-align: center;
	width: 100px;
}

#dav-list table {
	width: 100%;
}

td.actions {
	text-align: center;
}

td.directory {
	width: 280px;
}
