CHECK PROCESS apnscp WITH PIDFILE {{ apnscp_root }}/storage/run/apnscpd.pid
	START "/usr/bin/systemctl start apnscp"
	STOP "/usr/bin/systemctl stop apnscp"
	RESTART "/usr/bin/systemctl restart apnscp"

	{% if not panel_headless %}
	IF FAILED HOST localhost PORT 2082 PROTOCOL http WITH TIMEOUT 30 seconds 2 times WITHIN 5 cycles THEN RESTART
	{% endif %}

	IF FAILED
		UNIXSOCKET {{ apnscp_root }}/storage/run/apnscp.sock
		TYPE tcp
		SEND "PING\0x01\0x00\0x01\0x00"
		EXPECT "PONG"
	THEN RESTART
