# Global maildrop rules go here
# See http://www.courier-mta.org/maildrop/maildropfilter.html for syntax
MAX_SCAN={{ spamassassin_scan_threshold | int }}
DELETE_THRESHOLD="{{ maildrop_delete_threshold }}"

if ($SIZE < $MAX_SCAN)
{
    exception {
        xfilter "/usr/bin/spamc -u $LOGNAME"
    }
}

if (/^X-Spam(?:-Flag)?: Yes/)
{
    /^X-Spam-Score: ([-\.\d]+)/
    if ($MATCH1 >= $DELETE_THRESHOLD)
    {
        to /dev/null
    }
    else
    {
        to Mail/.Spam/
    }
}
