[Unit]
Description=ApisCP backend service
Wants=mariadb.service postgresql.service
After=local-fs.target mariadb.service postgresql.service virtualhosting.service

[Service]
User=root
Type=forking
EnvironmentFile=-/etc/sysconfig/apnscp
PIDFile={{ apnscp_root }}/storage/run/apnscpd.pid
ExecStart=/etc/systemd/user/apnscp.init start
ExecReload=/etc/systemd/user/apnscp.init reload
ExecStop=/etc/systemd/user/apnscp.init stop
KillMode=none
Restart=no
TimeoutStartSec=10
PrivateTmp=false
OOMScoreAdjust=150
Nice=0
PassEnvironment=HOSTNAME
SendSIGKILL=no
Delegate=yes

[Install]
WantedBy=multi-user.target
Alias=apiscp.service
